In [221]:
import pandas as pd

In [222]:
import glob

In [223]:
path =r'/Users/vpro/Dropbox/data/bank/test/2204324/22043240005/' 
allFiles = glob.glob(path + "/*.txt")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    if 'categorie' in df:
        del df['categorie']
    if 'compte' in df:
        del df['compte']
    if 'contrat' in df:
        del df['contrat']
    #list_.append(df)
    frame = frame.append(df, ignore_index=True)

In [224]:
frame.head()

,ref,dateOperation,dateValeur,libelleOperation,montantDebit,montantCredit,montantSolde
0,250061,Mon Dec 07 00:00:00 WET 2015,Tue Dec 08 00:00:00 WET 2015,VERSEMENT EFFECTUE PAR SAMIR KAILY BB56653,<null>,1200.0,200092.47
1,071215,Mon Dec 07 00:00:00 WET 2015,Fri Dec 04 00:00:00 WET 2015,ORDRE DE VIREMENT EN FAVEUR DE MR SEMMAMI MOHAMED,2100.0,<null>,200092.47
2,071215,Mon Dec 07 00:00:00 WET 2015,Fri Dec 04 00:00:00 WET 2015,ORDRE DE VIREMENT EN FAVEUR DE MR OMAR EL AIBI,1000.0,<null>,200092.47
3,000007,Tue Dec 08 00:00:00 WET 2015,Fri Dec 04 00:00:00 WET 2015,COMMISSION,6.0,<null>,198086.47
4,000007,Tue Dec 08 00:00:00 WET 2015,Fri Dec 04 00:00:00 WET 2015,RETRAIT GAB EFFECTUE CHEZ BMCE BANK MOHAMMEDIA,2000.0,<null>,198086.47

Check Data coherence

In [225]:
frame.loc[frame['dateOperation'].str.contains('RETRAIT')]

Empty DataFrame
Columns: [ref, dateOperation, dateValeur, libelleOperation, montantDebit, montantCredit, montantSolde]
Index: []

convertin date from string

In [226]:
dformat = '%a %b %d %H:%M:%S %Z %Y'
frame['dateOperation'] = frame['dateOperation'].apply(lambda t:datetime.strptime(t, dformat))

In [227]:
frame['dateValeur'] = frame['dateValeur'].apply(lambda t:datetime.strptime(t, dformat))

cleaning DATA

In [228]:
frame = frame.replace( "<null>",  0 )

In [229]:
frame.montantDebit = frame.montantDebit.apply(lambda x:float(x))

In [230]:
frame.montantCredit = frame.montantCredit.apply(lambda x:float(x))

In [231]:
aggdf = frame.groupby(['dateOperation'],as_index = False)[["montantDebit", "montantCredit"]].sum()

In [232]:
aggdf.head()

  dateOperation  montantDebit  montantCredit
0    2015-12-07       3100.00         1200.0
1    2015-12-08       2006.00            0.0
2    2015-12-09        915.49            0.0
3    2015-12-13       2000.00            0.0
4    2015-12-17       2000.00            0.0

In [233]:
aggdf.dtypes

dateOperation    datetime64[ns]
montantDebit            float64
montantCredit           float64
dtype: object

some charts & graphics

In [ ]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show, output_notebook()
output_notebook()

In [ ]:
p = figure(plot_width=1000, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to hide the corresponding lines'

for name, color in zip(['montantDebit', 'montantCredit'], Spectral4):
    p.line(aggdf['dateOperation'], aggdf[name], line_width=2, color=color, alpha=0.8, legend=name)

p.legend.location = "top_left"
#p.legend.click_policy="hide"

show(p)

In [235]:
#convert datetime to str for ploting 
frame.dateOperation = frame.dateOperation.apply(lambda x: str(x).split(' 00:00:00')[0])
frame.dtypes

ref                         object
dateOperation               object
dateValeur          datetime64[ns]
libelleOperation            object
montantDebit               float64
montantCredit              float64
montantSolde               float64
dtype: object

In [236]:
from bokeh.charts import Bar, output_file, show

In [237]:
p = Bar(frame, label='dateOperation', values='montantDebit', agg='sum', 
        title="Evolution # Trx", plot_width=800)
show(p)